@import '../mixin.scss';


.head{
    @include flexcenter;

    background-color: pink;
    color: black;
    height: 100px;
    position: relative;
    margin: 0px;
}

#btn1{
    display: flex;
    position: absolute;
    background-color: black;
    color: white;
    right: 100px;
}